
Importing Necessary Packages

In [1]:
import numpy as np
import pandas as pd

Loading the dataset

In [2]:
df=pd.read_csv("suspect_times.csv")

DataFrame.head() would return first five rows the dataset

In [3]:
df.head()

             Name   Occupation         Time.Spotted
0     Mary Martin      actress  2018-01-29 12:41:00
1     Woody Allen     director  2018-07-23 04:42:30
2       Lou Rawls       singer  2018-02-01 10:18:10
3     Lee Trevino   PGA golfer  2018-12-20 03:46:00
4   Richard Pryor        actor  2018-03-21 18:21:20

Checking the column values datatype, for further calculations

In [ ]:
datatype=df.dtypes
print(datatype)

Name            object
Occupation      object
Time.Spotted    object
dtype: object

Convert Time.Spotted from String object to DateTime object

In [ ]:
#Enter code below(note the dtype changed should reflect in the initial dataset)

In [18]:
from datetime import datetime
z=df.iloc[:,2]
print(z)
z1=[]
for i in z:
  i= datetime.strptime(i, '%Y-%m-%d %H:%M:%S')
  z1.append(obj)
''' Initially timespotted column exctracted and each value is seperately converted into 
datetime object and stored in a list
The list then replaces the column timespotted in our dataframe'''
df["Time.Spotted"].replace(z1, inplace=True)
datatype=df.dtypes
print(datatype)

0      2018-01-29 12:41:00
1      2018-07-23 04:42:30
2      2018-02-01 10:18:10
3      2018-12-20 03:46:00
4      2018-03-21 18:21:20
              ...
209    2018-03-26 00:37:20
210    2018-12-19 04:15:20
211    2018-02-04 20:29:50
212    2018-12-23 17:59:40
213    2018-06-25 09:15:50
Name: Time.Spotted, Length: 214, dtype: object
Name            object
Occupation      object
Time.Spotted    object
dtype: object